.chart-container {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  width: 400px;
  text-align: center;
  margin: 32px calc((100vw - 400px) / 4);
}

.view-container {
  display: inline-block;
}

.reference-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reference-item {
  display: inline-block;
  text-align: left;
  color: #0a0a0a;
}

.reference-item:last-child {
  text-align: right;
}

.value {
  color: #a0a0a0;
  margin-left: 8px;
}

.reference-label {
  font-weight: 600;
}
